﻿<div class="top-row pl-4 navbar navbar-dark">
    <h2 class="navbar-brand">Customer App</h2>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Services
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-document" aria-hidden="true"></span> Orders
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
