﻿@page "/orders"
@using Masd.EAutoService.CustomerApp.Rest.Model
@inject IController controller
@inject IModel model

<h5>Select Order:</h5>

<RadzenNumeric Name="searchId" @bind-Value=@model.SearchId Style="width: 80px; margin-right: 4px" />
<RadzenButton Icon="search" Text="Show" Click=@controller.SearchOrdersAsync Style="width: 160px" id="button-order-show" />

<h5 style="margin-top: 26px">Order</h5>

<RadzenListBox Name="ordersList" Data=@model.OrderList TValue="OrderAppDTO" Style="width: 424px; height: 160px">
    <Template Context="orderData">
        Order:              <b>@orderData.Id</b><br />
        Mechanic:           <b>@orderData.MechanicName @orderData.MechanicSurname</b><br />
        Customer:           <b>@orderData.CustomerName @orderData.CustomerSurname</b><br />
        List of services:   <b>@string.Join(", ", orderData.ServiceList)</b><br />  
        Order finished:     <b>@orderData.IsFinished</b>
    </Template>
</RadzenListBox>

