﻿@page "/services"
@using Masd.EAutoService.CustomerApp.Rest.Model
@inject IController controller
@inject IModel model


<h5>Search services:</h5>

<RadzenNumeric Name="searchId" @bind-Value=@model.SearchId Style="width: 80px; margin-right: 4px;" />
<RadzenButton Icon="search" Text="Search" Click=@controller.SearchServiceAsync Style="width: 140px; margin-bottom: 10px; margin-right: 10px;" class="-rz-secondary" Id="button-search" />
<RadzenButton Icon="list" Text="Show all" Click=@controller.SearchServicesAsync Style="width: 140px" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Darker" Id="button-show"/>


<RadzenDataGrid TItem="ServiceDTO" Data="@model.ServiceList" AllowFiltering="false" AllowPaging="true" AllowSorting="true" PageSize="5" SelectionMode="DataGridSelectionMode.Multiple" ColumnWidth="200px"
                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" @bind-Value=@model.SelectedServices>
    <Columns>
        <RadzenDataGridColumn TItem="ServiceDTO" Property="ServiceId" Title="Id" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="ServiceDTO" Property="Name" Title="Service" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="ServiceDTO" Property="Price" Title="Price" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="ServiceDTO" Width="60px" Sortable="false" Filterable="false" TextAlign="TextAlign.Center">
            <HeaderTemplate>
                <RadzenCheckBox TriState="false" TValue="bool" Value="@(model.ServiceList.Any(i => model.SelectedServices != null && model.SelectedServices.Contains(i)))"
                                Change="@(args => model.SelectedServices = args ? model.ServiceList.ToList() : null)" />
            </HeaderTemplate>
            <Template Context="data">
                <RadzenCheckBox TriState="false" Value="@(model.SelectedServices != null && model.SelectedServices.Contains(data))"
                                TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<RadzenButton Text="Add" Icon="add" Click=@controller.AddServicesAsync Style="margin-top:10px; margin-bottom:40px;" Id="button-add" />


<h5>Selected services:</h5>
<RadzenDataGrid @ref="grid2" TItem="ServiceDTO" Data="@model.SelectedServiceList" AllowFiltering="false" AllowPaging="true" AllowSorting="true" PageSize="5" SelectionMode="DataGridSelectionMode.Multiple" ColumnWidth="200px"
                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" @bind-Value=@model.SelectedServicesBasket>
    <Columns>
        <RadzenDataGridColumn TItem="ServiceDTO" Property="ServiceId" Title="Id" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="ServiceDTO" Property="Name" Title="Service" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="ServiceDTO" Property="Price" Title="Price" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="ServiceDTO" Width="60px" Sortable="false" Filterable="false" TextAlign="TextAlign.Center">
            <HeaderTemplate>
                <RadzenCheckBox TriState="false" TValue="bool" Value="@(model.SelectedServiceList.Any(i => model.SelectedServicesBasket != null && model.SelectedServicesBasket.Contains(i)))"
                                Change="@(args => model.SelectedServicesBasket = args ? model.SelectedServiceList.ToList() : null)" />
            </HeaderTemplate>
            <Template Context="data">
                <RadzenCheckBox TriState="false" Value="@(model.SelectedServicesBasket != null && model.SelectedServicesBasket.Contains(data))"
                                TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid2.SelectRow(data); }}) />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
<RadzenButton Text="Remove" Icon="remove" Click=@Refresh Style="margin-top:10px; margin-bottom:40px;" Id="button-remove" />




<h6>Name</h6>
<RadzenTextBox Name="customerName" @bind-Value=@model.CustomerName Style="margin-bottom: 4px;max-width:140px" />

<h6>Surname</h6>
<RadzenTextBox Style="max-width:140px; margin-bottom: 4px;" Name="customerSurname" @bind-Value=@model.CustomerSurname />

<h6>Total Cost:</h6>
<RadzenNumeric Name="totalCost" Style="width: 80px; margin-right:60px; margin-bottom: 40px;" TValue="double" Format="0.00" Value=@model.TotalCost ReadOnly ShowUpDown="false" />
<RadzenButton Icon="shopping_basket" Text="Order" Click=@Order Style="width: 140px;" Id="button-order" />

<h6 style="@success">Order successfully added!</h6>


@code {
    bool allowRowSelectOnRowClick = true;
    RadzenDataGrid<ServiceDTO> grid;
    RadzenDataGrid<ServiceDTO> grid2;

    private string success = "display: none;";

    private async Task Order()
    {
        controller.SendOrderAsync();
        await Task.Delay(100);
        success = "display: inline-block; color: #0c961c; font-weight: bold";

    }


    private async Task Refresh()
    {
        controller.RemoveServicesAsync();
        await Task.Delay(10);
        grid2.Reload();
    }
}
